body {
	background-color: #f8f8f8;
	color: #555;
	text-shadow: 0 1px white;
}

.logo img {
	vertical-align: top;
	display: block;
}

@media (min-width: 768px) {
	.logo {
		font-size: 50px;
	}

	.logo img {
		display: inline;
	}
}

.moff-example {
	border: 1px solid #ddd;
	border-radius: 4px;
	background: #f8f8f8;
	padding: 10px;
}

.moff-example img {
	border-radius: 4px;
}

.image-thumbs {
	width: 263px;
	position: relative;
	padding: 10px 45px;
}

.image-thumbs img {
	cursor: pointer;
}

.image-thumbs .glyphicon-chevron-left {
	position: absolute;
	left: 0;
	top: 10px;
}

.image-thumbs .glyphicon-chevron-right {
	position: absolute;
	right: 0;
	top: 10px;
}

.light-color {
	color: #9a9a9a;
}

.website-footer {
	border-top: 1px solid #c4c4c4;
	margin-top: 20px;
	padding-top: 20px;
}

.footer-links {
	padding: 0;
}

.footer-links li {
	display: inline;
	list-style: none;
}

.footer-separator {
	margin: 0 10px;
	line-height: 15px;
}

.affix-bar {
	width: 200px;
	border: 0;
}

.affix-bar.affix {
	position: fixed !important;
}

.affix-bar li a {
	padding: 3px 10px;
	border: 0;
	color: #777;
}

.affix-bar li.active a,
.affix-bar li.active a:hover {
	background-color: #f5f2f0;
	border: 0;
}

.sub-option {
	margin-left: 15px;
}

.sub-option_sub {
	margin-left: 30px;
}
.alert-success {
	margin-top: 15px;
}