body {
	background-color: #f8f8f8;
	color: #555;
	text-shadow: 0 1px white;
	font-family: 'Exo 2', sans-serif;
	font-size: 15px;
}

.logo {
	margin: 25px 0 50px;
}

.examples {
	margin-bottom: 20px;
}

.exp-header {
	color: #a58681;
}

.logo small {
	vertical-align: bottom;
	margin-left: 10px;
	font-size: 16px;
}

.margin-bottom {
	margin-bottom: 50px;
}

.margin-top {
	margin-top: 9%;
}

.logo .dash {
	margin: 0 5px;
}

.logo h1,
.logo .dash {
	display: inline;
	vertical-align: bottom;
	line-height: 45px;
	font-size: 42px;
	color: #a58681;
}

.logo .slogan {
	font-size: 16px;
	color: #a59997;
	font-style: italic;
	margin-top: 5px;
}

.logo img {
	display: inline;
}

.point-description {
	font-size: 16px;
	margin-top: 7px;
}

.divider {
	margin: 40px 0;
}

.moff-example {
	border: 1px solid #ddd;
	border-top: 0;
	background: #f8f8f8;
	padding: 10px;
}

.moff-description {
	margin-top: 40px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #f8f8f8;
}

.tab-pane pre[class*="language-"] {
	border: 1px solid #ddd;
	border-top: 0;
	background: #f8f8f8;
	margin: 0;
	border-radius: 0;
}

.moff-example img {
	border-radius: 4px;
}



.light-color {
	color: #9a9a9a;
}

.website-footer {
	border-top: 1px solid #c4c4c4;
	margin-top: 20px;
	padding-top: 20px;
}

.footer-links {
	padding: 0;
}

.footer-links li {
	display: inline;
	list-style: none;
}

.footer-separator {
	margin: 0 10px;
	line-height: 15px;
}

.affix-bar {
	width: 200px;
	border: 0;
}

.affix-bar.affix {
	position: fixed !important;
}

.affix-bar li a {
	padding: 3px 10px;
	border: 0;
	color: #777;
}

.affix-bar li.active a,
.affix-bar li.active a:hover {
	background-color: #f5f2f0;
	border: 0;
}

.sub-option {
	margin-left: 15px;
}

.sub-option_sub {
	margin-left: 30px;
}
.alert-success {
	margin-top: 15px;
}

.optional {
	text-decoration: underline;
}

.bootstrap-modules .nav .nav {
	display: none;
	padding-bottom: 10px;
	font-size: 12px;
}

.bootstrap-modules .nav > .active > ul {
	display: block;
}

.bootstrap-modules .nav > .active > ul > li.active > a {
	color: #444;
	font-weight: bold;
}

.bootstrap-modules .nav > .active > ul > li > a {
	padding-left: 30px;
}

.social-buttons {
	line-height: 10px;
	text-align: right;
	margin-top: 15px;
	float: right;
}

.tutorials {
	list-style: none;
	padding-left: 0;
	margin-top: 15px;
}

.tutorials li a {
	display: block;
	padding: 10px;
}

.tutorials li.active a {
	color: #555;
	background-color: #e7e7e7;
}

.left-align {
	float: left;
	margin-right: 15px;
}

.next-image {
	margin-left: 360px;
}

.mobile-phone {
	width: 280px;
	height: 568px;
	background: url(/images/iframe-bg.png) left top no-repeat;
	margin: 20px auto;
	position: relative;
	transition: background .2s ease-in;
}
.mobile-phone .iframe {
	width: 260px;
	height: 452px;
	position: absolute;
	border: 0;
	left: 10px;
	top: 62px;
	transition: left .2s, width .2s, height .2s;
}
.desktop {
	width: 1300px;
	height: 774px;
	background: url(/images/desktop-bg.png) left top no-repeat;
	margin: 20px auto;
	position: relative;
	transition: background .2s ease-out;
}
.desktop .iframe {
	width: 1229px;
	height: 692px;
	position: absolute;
	border: 0;
	left: 36px;
	top: 40px;
	transition: left .2s, width .2s, height .2s;
}

.description {
	max-width: 800px;
	font-size: 18px;
	margin: 0 auto;
}

.tools {
	display: block;
	text-align: center;
	margin-bottom: 15px;
}

.tools img {
	margin: 0 auto;
}

.short-desc {
	max-width: 400px;
	margin: 0 auto;
}
.title2 {
	display: none;
}
.desc2 {
	display: none;
}