@import "variables";

html,
body,
.m-wrapper {
	height: 100%;
}

body {
	font-family: $font-family;
	color: $font-color;
	font-weight: 400;
	line-height: 1.52857;
}

.m-content {
	min-height: 100%;
	padding-bottom: 100px;
}

footer {
	height: 90px;
	margin-top: -90px;
}

blockquote {
	border-left: 2px solid $secondary-color;
	color: #666;
	font-size: 16px;
	font-style: italic;
	padding-left: 20px;
	margin-left: 0;
}

a {
	color: $brand-color;
	text-decoration: none;

	&:hover {
		color: $brand-color;
		text-decoration: underline;
	}
}

p {
	line-height: 21px;
}

pre code  {
	padding: 0;
	font-size: inherit;
	color: inherit;
	white-space: pre-wrap;
	background-color: transparent;
	border-radius: 0;
}

code {
	padding: 0 4px;
	font-size: 13px;
	color: #fff;
	background-color: $brand-color;
	border-radius: 4px;
	display: inline-block;
	margin: 1px 0;
}

.container {
	&_header {
		padding-top: 10px;
		margin-bottom: 10px;
	}

	&_brand {
		text-align: center;
		position: relative;
		overflow: hidden;

		@media (min-width: $tablet) {
			text-align: left;
			height: 218px;
		}

		@media (min-width: $desktop) {
			height: 342px;
		}
	}

	&_text-center {
		text-align: center;
	}
}

.m-logo {
	&_left {
		float: left;
	}

	&__image {
		width: 60px;

		@media (min-width: $tablet) {
			width: 85px;
		}

		@media (min-width: $desktop) {
			width: 128px;
		}
	}
}

.m-navigation {
	display: block;
	float: right;

	@media (min-width: $tablet) {
		float: left;
		margin-top: 5px;
		margin-left: 25px;
	}

	@media (min-width: $desktop) {
		margin-top: 12px;
		margin-left: 80px;
	}

	&__list {
		margin: 0;
		padding: 0;

		&-item {
			display: inline-block;
			margin: 0 3px;
			
			@media (min-width: 350px) {
				margin: 0 5px;
			}

			@media (min-width: $tablet) {
				margin: 0 8px;
			}
		}

		&-link {
			text-decoration: none;
			font-size: 13px;

			@media (min-width: $tablet) {
				font-size: 14px;
				font-weight: 600;
			}

			@media (min-width: $desktop) {
				font-size: 16px;
				font-weight: 600;
			}

			&_active {
				color: #fff;
				background-color: $brand-color;
				padding: 3px;

				@media (min-width: $desktop) {
					padding: 3px 8px;
				}


				&:hover {
					color: #fff;
				}
			}
		}
	}
}

.m-brand-block {
	background-color: $brand-color;
	color: #fff;

	&_wide {
		margin: 0 -15px;
		padding: 1px 15px;
	}

	&__link {
		color: #fff;
		text-decoration: underline;

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
}

.m-title {
	font-weight: 400;
	font-size: 28px;
	margin-top: 18px;
	margin-bottom: 18px;
	color: $brand-color;

	&_white {
		color: #fff;
	}

	@media (min-width: $desktop) {
		font-size: 36px;
		margin-top: 75px;

		&_tm6 {
			margin-top: 6px;
		}
	}
}

.m-sub-title {
	color: $brand-color;
	font-size: 20px;
	text-align: center;
	margin: 20px 0;
	font-weight: 400;

	&_large {
		@media (min-width: $tablet) {
			font-size: 23px;
			margin: 27px 0;
		}

		@media (min-width: $desktop) {
			font-size: 25px;
			margin: 35px 0;
		}
	}
	

}

.m-sub-sub-title {
	color: $brand-color;
	font-size: 16px;
	text-align: center;
	margin: 20px 0;
	font-weight: 400;
}

.m-slogan {
	color: #fff;
	letter-spacing: .5px;

	@media (min-width: $tablet) {
		font-size: 18px;
	}
}

.m-button {
	background: $secondary-color 0 0 no-repeat;
	border: 0;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	padding: 13px 22px;
	display: inline-block;
	margin: 20px 0;

	&:hover {
		color: #fff;
		text-decoration: none;
		background-color: #19323a;
	}
}

.m-feature {
	position: relative;

	&__icon {
		float: left;
		width: 44px;
		height: 44px;
		border-radius: 4px;
		background-color: $brand-color;
		margin-top: 3px;
		background-image: url(/images/icons.png);
		background-repeat: no-repeat;

		&_bolt {
			background-position: 0 0;
		}

		&_monitor {
			background-position: -44px 0;
		}

		&_sync {
			background-position: -88px 0;
		}

		&_clock {
			background-position: -132px 0;
		}

		&_settings {
			background-position: 0 -44px;
		}

		&_modules {
			background-position: -44px -44px;
		}
	}

	&__title {
		margin: 0 0 0 50px;
		font-weight: 400;
		color: $brand-color;
		font-size: 17px;

		&-link {
			text-decoration: none;
		}
	}

	&__description {
		margin-left: 50px;
		margin-top: 5px;
		margin-bottom: 30px;
		line-height: 25px;
	}
}

.m-gray-block {
	background-color: $gray;
	padding: 10px 0;

	@media (min-width: $tablet) {
		margin: 15px 0;
	}
}

.m-copy {
	color: #fff;
	font-size: 12px;
	margin: 10px 0;
}

.m-link-icon {
	position: relative;
	color: #fff;
	padding-left: 40px;
	height: 32px;
	line-height: 32px;
	display: inline-block;
	margin: 10px 0;

	&:hover {
		color: #fff;
	}

	&_github {
		&::after {
			width: 32px;
			height: 32px;
			position: absolute;
			display: block;
			content: '';
			left: 0;
			top: 0;
			background-image: url(/images/icons.png);
			background-repeat: no-repeat;
			background-position: -94px -50px;
		}
	}

	&_bugs {
		&::after {
			width: 32px;
			height: 32px;
			position: absolute;
			display: block;
			content: '';
			left: 0;
			top: 0;
			background-image: url(/images/icons.png);
			background-repeat: no-repeat;
			background-position: -138px -50px;
		}
	}
}

.m-cogs {
	background-image: url(/images/cogs.png);
	background-repeat: no-repeat;
	position: absolute;
	opacity: .3;

	&_full {
		width: 180px;
		height: 186px;
		bottom: -45px;
		right: 280px;
		background-position: 0 0;

		@media (min-width: $desktop) {
			right: 352px;
			bottom: 10px;
		}
	}

	&_small {
		width: 30px;
		height: 58px;
		background-position: 0 -55px;
		left: 0;
		bottom: 20px;
		transform: rotate(180deg);

		@media (min-width: $tablet) {
			bottom: -14px;
			left: 30px;
			transform: rotate(90deg);
		}
	}

	&_medium {
		width: 60px;
		height: 86px;
		background-position: -58px 0px;
		right: 0;
		bottom: 0;

		@media (min-width: $desktop) {
			width: 84px;
			height: 42px;
			left: 95px;
			top: 0;
			background-position: -14px -146px;
		}
	}
}

.m-mobile {
	width: 230px;
	height: 207px;
	position: absolute;
	right: 0;
	bottom: 0;
	overflow: hidden;

	@media (min-width: $desktop) {
		width: 302px;
		height: 310px;
	}

	&__image {
		width: 100%
	}

	&__msg {
		position: absolute;
		left: 12px;
		right: 12px;
		top: 48px;
		bottom: 0;
		color: #efefef;
		font-size: 12px;
		letter-spacing: .5px;

		&-title {
			font-weight: 600;
			font-size: 12px;
			margin: 0 0 7px;
		}

		@media (min-width: $desktop) {
			top: 63px;
			left: 15px;
			right: 15px;
			font-size: 13px;
		}
	}
}

.m-text-left {
	text-align: left;
}

.m-text-right {
	text-align: right;
}

.m-social-buttons {
	line-height: 10px;
}

/* Tutorials AMD */
.m-select {
	width: 100%;
	background: url(/images/arrow.png) right center no-repeat;
	border: 1px solid $brand-color;
	padding: 3px 5px;
	color: $secondary-color;
	margin-top: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	outline: none;

	&::-ms-expand {
		display: none;
	}
}
.m-sub-nav {
	padding: 0;
	margin: 0;
	list-style: none;

	&__item {
		margin: 16px 0;
		padding: 6px 0 6px 6px;

		&_active {
			background-color: $brand-color;

			a {
				color: #fff;
			}
		}
	}
}

.m-list {
	padding-left: 0;
	list-style-type: none;

	&_square {
		list-style-type: square;
		padding-left: 19px;
	}
}

.m-affix-bar {
	top: 0;

	&__category {
		padding: 7px 0;

		&.active {
			background-color: $brand-color;
			padding: 7px 20px 7px 7px;

			.m-affix-bar__category-list {
				display: block;
			}

			a {
				color: #fff;
			}
		}

		&-list {
			list-style-type: none;
			padding-left: 20px;
			display: none;

			&-item {
				margin: 7px 0;
				font-size: 13px;

				&.active {
					a {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.m-sub-option {
	margin-left: 15px;

	&__sub {
		margin-left: 30px;
	}
}

.m-arguments-list {
	font-size: 13px;
}

.m-date {
	font-size: 13px;
	color: #999;
}

.m-comments {
	margin-left: 25px;
	font-size: 13px;
	padding-left: 22px;
	background: url('/images/chat.png') left center no-repeat;
}

.m-example {
	border: 1px dashed #ccc;
	padding: 10px;

	&__title {
		color: #999;
		margin-bottom: 10px;
	}
}

.m-scroll-up {
	position: fixed;
	width: 40px;
	height: 40px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	background: url('/images/icons.png') -2px  -90px no-repeat;
	background-color: $brand-color;
	font-size: 0;
	display: block;
}