body {
	background-color: #f8f8f8;
	color: #555;
	text-shadow: 0 1px white;
	font-family: 'Exo 2', sans-serif;
}

.logo {
	margin: 25px 0 50px;
}

.examples {
	margin-bottom: 20px;
}

.exp-header {
	color: #a58681;
}

.logo small {
	vertical-align: bottom;
	margin-left: 10px;
	font-size: 16px;
}

.logo .dash {
	margin: 0 5px;
}

.logo h1,
.logo .dash {
	display: inline;
	vertical-align: bottom;
	line-height: 45px;
	font-size: 50px;
	color: #a58681;
}

.logo .slogan {
	font-size: 16px;
	color: #a59997;
	font-style: italic;
	margin-top: 5px;
}

.logo img {
	display: inline;
}

.point-description {
	font-size: 16px;
	margin-top: 7px;
}

.divider {
	margin: 40px 0;
}

.moff-example {
	border: 1px solid #ddd;
	border-top: 0;
	background: #f8f8f8;
	padding: 10px;
}

.moff-description {
	margin-top: 40px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #f8f8f8;
}

.tab-pane pre[class*="language-"] {
	border: 1px solid #ddd;
	border-top: 0;
	background: #f8f8f8;
	margin: 0;
	border-radius: 0;
}

.moff-example img {
	border-radius: 4px;
}

.image-thumbs {
	width: 100%;
	position: relative;
	padding: 10px 45px;
}

@media (min-width: 450px) {
	.image-thumbs {
		width: 400px;
	}
}

.image-thumbs img {
	cursor: pointer;
}

.image-thumbs .glyphicon-chevron-left {
	position: absolute;
	left: 0;
	top: 10px;
	height: 65px;
}

.image-thumbs .glyphicon-chevron-right {
	position: absolute;
	right: 0;
	top: 10px;
	height: 65px;
}

.light-color {
	color: #9a9a9a;
}

.website-footer {
	border-top: 1px solid #c4c4c4;
	margin-top: 20px;
	padding-top: 20px;
}

.footer-links {
	padding: 0;
}

.footer-links li {
	display: inline;
	list-style: none;
}

.footer-separator {
	margin: 0 10px;
	line-height: 15px;
}

.affix-bar {
	width: 200px;
	border: 0;
}

.affix-bar.affix {
	position: fixed !important;
}

.affix-bar li a {
	padding: 3px 10px;
	border: 0;
	color: #777;
}

.affix-bar li.active a,
.affix-bar li.active a:hover {
	background-color: #f5f2f0;
	border: 0;
}

.sub-option {
	margin-left: 15px;
}

.sub-option_sub {
	margin-left: 30px;
}
.alert-success {
	margin-top: 15px;
}

.optional {
	text-decoration: underline;
}

.bootstrap-modules .nav .nav {
	display: none;
	padding-bottom: 10px;
	font-size: 12px;
}

.bootstrap-modules .nav > .active > ul {
	display: block;
}

.bootstrap-modules .nav > .active > ul > li.active > a {
	color: #444;
	font-weight: bold;
}

.bootstrap-modules .nav > .active > ul > li > a {
	padding-left: 30px;
}

.social-buttons {
	line-height: 10px;
	text-align: center;
	padding-top: 20px;
}